*{
    margin: auto;
    padding: auto;
}
.heading{
    text-align: center;
    background-image: url('https://github.com/john0931-st/Pet-Registration-Form/blob/main/pet%20(3).jpg?raw=true');
    background-repeat: auto;
}
.container1{
    background-image: url('https://github.com/john0931-st/Pet-Registration-Form/blob/main/pet%20(1).jpg?raw=true');
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container1 input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
    resize: vertical;
    text-align: center;
    font-size: 18px;
}
.PI{
    text-align: center;
}
.excel{
    text-align: center;
    margin: 10px;
    margin-top: 25px;
}
#button{
    cursor: pointer;
}
#tblData{
    border-collapse: collapse;
    width: 45%;
    margin-top: 20px;
    background-color: blanchedalmond;
}
#tblData th{
    border: 2px solid black;
    height: 25px;
    font-size: 18px;
}
#tblData td{
    border: 2px solid black;
    text-align: center;
    transition: all .25s ease-in-out;
}
#tblData tr:hover{
    background-color: greenyellow;
    cursor: pointer;
}
table .default{
    display: none;
}
.petbtn input{
    width: 5%;
    height: 35px;
    cursor: pointer;
    font-size: 12px;
}
.petbtn{
    text-align: center;
}